html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    margin-right: 10px;
}

.form-group {
    width: 200px;
}

.col a {
    color: #007bff;
    text-decoration: none;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    align-items: end;
}

.form-group select {
    width: fit-content;
    padding: 6px;
    border-radius: 4px;
    box-sizing: content-box;
}

.taskContainer {
    border: 3px dashed #A2C4C9;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
    width: 400px;
}

.title-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.desc-text {
    font-size: 18px;
}

.dueDate-text {
    font-size: 20px;
}

.priority-text {
    font-size: 24px;
}

.title {
    text-align: center;
}

.iconAdd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giveBorder {
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
}

.red-text {
    color: red;
}

.orange-text {
    color: orange;
}

.green-text {
    color: green;
}