html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-x: hidden;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    margin: 15px;
}

.form-group {
    width: 200px;
}

    .form-group input {
        margin-top: 15px;
    }

.col a {
    color: #007bff;
    text-decoration: none;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    align-items: end;
}

.form-group select {
    width: fit-content;
    padding: 6px;
    border-radius: 4px;
    box-sizing: content-box;
}

.taskContainer {
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
    border-radius: 60px;
    width: 401px;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

.action {
    text-align: center;
}

#todo {
    background-color: #fdf8ea;
}
    #todo .col {
        background-color: #fefdfc;
        border-radius: 60px;
    }
    #todo p {
        margin-left: 30px;
    }
    #todo h3 {
        color: #eebb38;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

#progress {
    background-color: #f0f0ff;
}
    #progress .col {
        background-color: #fefdfc;
        border-radius: 60px;
    }
    #progress p {
        margin-left: 30px;
    }
    #progress h3 {
        color: #5353e2;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

#done {
    background-color: #fbeef7;
}
    #done .col {
        background-color: #fefdfc;
        border-radius: 60px;
    }
    #done p {
        margin-left: 30px;
    }
    #done h3 {
        color: #d648a2;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

.title-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.desc-text {
    font-size: 18px;
}

.dueDate-text {
    font-size: 20px;
}

.priority-text {
    font-size: 24px;
}

.title {
    text-align: center;
}

/* Adding icon to add button */
.addButton {
    float: right;
    margin-right: 10px;
    background-color: #E2EDf9; /* Set your desired background color */
    border-radius: 20px;
    padding: 10px 15px 5px 2px;
}

    .addButton a {
        text-decoration: none;
    }

.giveBorder {
    background: border-box;
}

.icon {
    display: table-cell;
    vertical-align: middle;
}
    i {
    font-size: 80px;
    float: left;
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    }

.text {
    display: table-cell;
    vertical-align: top;
    font-size: 16px;
}

/* Sidebar */
#sidebar {
    transition: margin 0.3s;
}

#sidebar-menu {
    padding: 15px;
}

#sidebar a {
    text-decoration: none;
    color: #d9daee;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
}

#sidebar a:hover {
    color: #8a8a8b;
}

#sidebar a i {
    margin-right: 8px;
}

/* Responsive styles for small screens */
@media (max-width: 767px) {
    #sidebar {
        margin-left: -200px;
    }

    .main {
        margin-left: 0;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }
}

.taskContainer.collapsed {
    width: 350px;
}

.login-partial {
    position: absolute;
    bottom: 25px;
    left: 20px;
}

#menuButton i.rotate {
    transform: rotate(180deg);
}